/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}


h1 {
    text-transform: capitalize;
    font-size: 50px;
}

h3 {
    text-transform: capitalize;
}

.coloro {
    color: orange;
}

section {
    display: flex;

    margin: 0 0 120px 0;

}

.half-width {
    width: 50%;

}

.half-width:nth-child(1) {
    padding: 30px;
}

.half-width:nth-child(2) {
    padding: 40px;
}

.temp-border {
    border: 2px solid red;
}

.banner {
    background: url(images/top-banner.png) no-repeat;

}

.hire-btn {
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}

.dream-sec {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-sec p {
    opacity: .7;
}

.resume-btn {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
}


/* experiencess */
.exp-sec {
    flex-direction: column;
}

.exp-heading {
    text-align: center;

}

.exp-boxes {
    display: flex;
    justify-content: space-around;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 70%;
}

.low-width {
    width: 40%;
    box-shadow: 10px 10px 20px black;
    padding: 20px;
    border-radius: 10px;
    border-left: 7px solid black;
}

.low-width:first-child {
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

.low-width:last-child {
    border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
}