/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    width: 80%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}


h1 {
    text-transform: capitalize;
    font-size: 40px;
}

h3 {
    text-transform: capitalize;
}

.coloro {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;

}

.half-width:nth-child(1) {
    padding: 30px;
}

.half-width:nth-child(2) {
    padding: 40px;
}

.temp-border {
    border: 2px solid red;
}

.banner {
    background: url(images/top-banner.png) no-repeat;

}

.hire-btn {
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}